/* .App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
	--lime-green: hsl(163, 72%, 41%);
	--bright-red: hsl(356, 69%, 56%);
	--facebook: hsl(208, 92%, 53%);
	--twitter: hsl(203, 89%, 53%);
	--instagram-start: hsl(37, 97%, 70%);
	--instagram-end: hsl(329, 70%, 58%);
	--youtube: hsl(348, 97%, 39%);

	/* Light Theme */
	--white: hsl(0, 0%, 100%);
	--light-grayish-blue: hsl(227, 47%, 96%);
	--dark-grayish-blue: hsl(228, 12%, 44%);
	--very-dark-blue-: hsl(230, 17%, 14%);
}

* > {
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
}

.positive-following {
	color: var(--lime-green);
}

.negative-following {
	color: var(--bright-red);
}

.flex-center {
	display: flex;
	align-items: center;
}

.social-media-container {
	display: flex;
}

.social-media-card {
	background-color: var(--light-grayish-blue);
	width: 255px;
	height: 215px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0px 15px;
	border-radius: 4px;
}

.facebook {
	border-top: 4px solid var(--facebook);
}
.twitter {
	border-top: 4px solid var(--twitter);
}
.youtube {
	border-top: 4px solid var(--youtube);
}

.instagram {
	border-image: linear-gradient(
		to right,
		var(--instagram-start),
		var(--instagram-end)
	);
	border-image-width: 4px;
}
